<body id="page-top">
    <!-- Navigation-->
    <header class="header" id="inicio">
        <div class="primeraParte">
            <div class="contenedor head" id="parametrización2">
                
                <h1 class="lakennedy">Carpooling</h1>
                <h1 class="titulo">La mejor manera de llegar a tu destino de una forma comoda y segura.</h1>
                <p class="copy">Este proyecto pretende reducir la congestión de tránsito en las grandes ciudades así como facilitar los desplazamientos de los estudiantes de la Universidad Politécnica Salesiana, sera principalmente para los estudiantes que no dispongan de coche propio. Además, supone una notable disminución de emisiones de CO2, al reducir el número de coches en las carreteras. 
                    A su vez, favorece las relaciones sociales entre personas que realizan los mismos recorridos.</p>
            </div>
        </div>
    </header>
    
    <!-- Content section 1-->
    <section id="scroll">
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5"><img class="img-fluid rounded-circle" src="assets/beepbeep1.png" alt="..." /></div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4">Movilidad</h2>
                        <p>Así, este nuevo paradigma de la movilidad sustentable, favorece el traslado a través de la promoción de la peatonalización de las principales calles, el uso de la bicicleta a través de sendas exclusivas, y la prioridad del transporte público a partir de mejoras y facilitaciones de acceso. Sin embargo, el gran dilema era cómo 
                            incorporar a los autos en este paradigma, considerando el gran impacto que generan.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Content section 2-->
    <section>
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6">
                    <div class="p-5"><img class="img-fluid rounded-circle" src="assets/beepbeep2.png" alt="..." /></div>
                </div>
                <div class="col-lg-6">
                    <div class="p-5">
                        <h2 class="display-4">¿De qué se trata?</h2>
                        <p>Es una tendencia internacional que ayuda a reducir el tráfico y caos vehicular, y cuidar el ambiente. A través de una plataforma digital, 
                            conductores y pasajeros pueden buscar viajes disponibles y autos con asientos libres, respectivamente. Es decir, una fórmula sencilla: viajar varias personas en un mismo vehículo para llegar a un destino común. Su objetivo es claro y preciso: optimizar el uso del auto al maximizar la cantidad de asientos utilizados.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Content section 3-->
    <section>
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5"><img class="img-fluid rounded-circle" src="assets/beepbeep3.png" alt="..." /></div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4">¿Cómo funciona?</h2>
                        <p>El contacto se produce a través de sitios gratuitos de Internet donde conductores y pasajeros publican los trayectos que necesitan recorrer, con fechas y horarios. Cuando hay una coincidencia, el sistema les permite ponerse en contacto, 
                            acordar la división de costos y empezar a viajar juntos.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
</body>
<app-footer></app-footer>

