<body>

    <div class="login-box">
      <img src="assets/nave.png" class="avatar" alt="Avatar Image">
      <h1>Registrate Aquí</h1>
      <form>
        <!-- USERNAME INPUT -->
        <label for="firstname">Nombre:</label>
        <input type="text" placeholder="Escriba su nombre">
        <!-- Email del usuario -->
        <label for="email">Email:</label>
        <input type="text" placeholder="Esciba su email:">
        <!-- Nombre de Usuario-->
        <label for="username">Nombre de Usuario:</label>
        <input type="text" placeholder="Esciba su nombre de usuario:">
        <!-- Contraseña Usuario -->
        <label for="password">Contraseña</label>
        <input type="password" placeholder="Esciba su Contraseña:">
        <!-- PASSWORD INPUT -->
        <label for="password2">Confirmar Contraseña</label>
        <input type="password" placeholder="Esciba su Contraseña:">
        <input type="submit" value="Log In">
      </form>
    </div>
</body>
<app-footer></app-footer>
