<main>
    <section class="contenedor" id="servicio">
        <h2 class="subtitulo">Carpooling - Beneficios</h2>
        <div class="contenedor-servicio">
            <img src="../assets/electric_car_PNG.png" alt="no se pudo cargar la imagen">
            
            <div class="checklist-servicio" id="parametrización3">
                <div class="service">
                    <h3 class="n-service"><span class="number">1</span>Ahorra</h3>
                    <p>El concepto se base en el ahorro de combustible, costes de peajes o parking para los pasajeros.</p>
                </div>
                <div class="service">
                    <h3 class="n-service"><span class="number">2</span>Disminuye</h3>
                    <p>Disminuye del tráfico, reduce el número de accidentes, 
                        facilita encontrar aparcamiento y en definitiva, ahorra de tiempo en circulación.</p>
                </div>
                <div class="service">
                    <h3 class="n-service"><span class="number">3</span>Reduce</h3>
                    <p>Reduce las emisiones de CO2, por lo que medioambientalmente es una medida muy positiva y sobre todo en las grandes ciudades.</p>
                </div>
                <div class="service">
                    <h3 class="n-service"><span class="number">4</span>Favorece</h3>
                    <p>Favorece las relaciones sociales entre los pasajeros y el conductor.</p>
                </div>
        </div>
        </div>
    </section>
</main>
    <app-footer></app-footer>