<body>
    
    <!--header area start-->
    <!--header area end-->
    <!--sidebar start-->
    <div class="sidebar">
      <a href="#"><i class="fas fa-info"></i><span>Información</span></a>
      <a routerLink="/crear-producto" routerLinkActive="active"><i class="fas fa-calendar-plus"></i><span>Crear Ruta</span></a>
      <a  routerLink="/listar-producto" routerLinkActive="active"><i class="fas fa-car"></i><span>Listado de Rutas</span></a>
      <a routerLink="/listar-producto-edicion" routerLinkActive="active"><i class="fas fa-edit"></i><span>Editar Listado de Rutas</span></a>
      <a href="#"><i class="fas fa-user-plus"></i><span>Crear Usuario</span></a>
      <a href="#"><i class="fas fa-users"></i><span>Listado de Usuarios</span></a>
     
    <!--sidebar end-->
    </div>

</body>
